/* body{
	margin: 0;
	padding: 0;
	background:#fff;
	height: 100vh;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1 , h3 ,p{
	text-align: center;
	font-family: sans-serif;
	font-weight: normal;
	color: #778;
	margin: 0;
	padding: 20px 0;

}
.contact-list{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 70%;
	margin:0 auto;

}
.icon-link{
	display: flex;
	background:#fff;
	width: 60px;
	height: 60px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border-radius: 50%;
	margin: 15px 15px;
	box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
				-6px -6px 10px -1px	rgba(255,255,255,0.7);
	border: 1px solid rgba(0,0,0,0.09);
	transition: transform 0.5s;
} 
.cont-icon{
	color: #777;
	font-size: 25px;
	transition: transform 0.5s;
}
.icon-link:hover{
	box-shadow: inset 4px 4px 6px -1px rgba(0, 0,0, 0.2),
				inset 4px 4px 6px -1px	rgba(255,255,255,0.7),
				-0.5px -0.5px 0px  rgba(255, 255, 255, 1),
				0.5px 0.5px 0px	rgba(0,0,0,0.15),
				0px 12px 10px -10px	rgba(0,0,0,0.05);
	transform: translateY(2px);
}
.icon-link:hover .cont-icon{
	transform: scale(0.95);
}
@media only screen and (max-width: 800px){
	.contact-list{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 100%;
		margin:0 auto;
	}
}
figure{
	
	overflow-x: auto;
	background:#f8f8f8;
	margin: 0;
	padding:0 5px; 

}
code{
	color:#008080;
	padding:0 10px;
	outline: none;
}
.code01{
	color: #00009e;
}
.code02{
	color:#008080;
}
.code03{
	color:#dd1144
}
figure::-webkit-scrollbar {
  height: 7px !important;
}

/* Track */
figure::-webkit-scrollbar-track {
  background: #f8f8f8;
  border-radius: 0px;
}
/* Handle */
figure::-webkit-scrollbar-thumb {
  background: #d5d7de; 
  border-radius: 0px;
}
.code-box{
	display: flex;
	margin: 0 auto;
	justify-content: center;
	padding:0 10px 100px 10px;
}
.copyBtn{
	background:#f8f8f8;
	border-left:1px solid #d5d7de;
	border-top:0;
	border-right:1px solid #d5d7de;
	border-bottom:0;
	outline: none;
	border-radius: 0;
	color:#333;
	cursor: pointer;
	position: relative;
	z-index: 2
}
.copyBtn:after{
	content: "Copied";
	position: absolute;
	top: 100%;
	left: -4px;
	padding:10px 5px 5px 5px;
	background: #333;
	color:#d5d7de;
	border-radius: 5px;
	clip-path: polygon(50% 0, 75% 25%, 100% 25%, 100% 100%, 0 100%, 0 25%, 25% 25%);
	opacity: 0;
	pointer-events: none;
	transform: translateY(-100%);
	z-index: 0;
	transition: transform 0.5s ease;

}
.copyBtn:focus:after {
	animation: topBottom 1s linear;
}
@keyframes topBottom {
	0%{
		transform: translateY(-70%);
		opacity: 0.3;
	}
	30%{
		transform: translateY(-50%);
		opacity: 0.9;
	}
	70%{
		transform: translateY(-70%);
		opacity: 0.7;
	}
	100%{
		transform: translateY(-80%);
		opacity: 0;
	}
}



.icon-link:hover .fa-github{
	color: #000000;
}

.icon-link:hover .fa-envelope{
	color: #19930a;
}

.icon-link:hover .fa-linkedin{
	color: #0077b5;
} */
